@import '../styles/reset.css';
@import '../styles/layout.css';
@import '../styles/modules.css';

*{
    box-sizing: border-box;
}
h1{
    color: black;
    font-weight: bolder;
    font-size: larger;
}
.book-info{
    padding: 16px;
    text-align: center;
}
.btn-detail,input[type=submit],#update-button{
    padding: 8px;
    font-size: medium;
    color: white;
    background-color: black;
}

body{
    background-color: #c7c7c7;
    width:100%;
}
header{
    padding: 16px;
    width: 100%;
    text-align: center;
    background-color: #ffffff;
}
.books-container{
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: hidden;
}
.book-item{
    box-shadow: 5px 10px 18px #888888;
    background-color: #ffffff;
    padding-bottom: 20px;
    margin-top: 32px;
    width: 100%;
    margin: 8px;
    text-align: center;
}
.book-img{
    width: 40%;
    height: 300px;
}
.selectBookBtn{
    background-color: black;
    padding: 16px;
    color: white;
    font-size: 0.5vw;
}
.public-header{
    background-color: #ffffff;
    padding: auto;
}
.public-header li {
    float: left;

}
.public-header li a {
    text-decoration: none;
    text-align: center;
    padding: 16px;
    color: black;
}
.public-header ul {
    list-style-type: none;
    overflow: hidden;
}
.public-header a:hover {
    background-color: #c7c7c7;
}

.form-container{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: hidden;
}
.flex-item{
    background-color: lightgrey;
    margin-top: 32px;
    padding: 16px;
    width: 100%;
    text-align: center;
}
.submit{
    background-color: black;
    color: white;
    margin-top: 32px;
    padding: 16px;
    width: 50%;
    text-align: center; 
    align-self: flex-end;
    
}



