<header class="public-header">
    <nav class="navbar-menu">
        <ul class="menu-listing">
          <li><a href="/">Home</a></li>
          <li><a href="/searches/new">Search</a></li>
        </ul>
      </nav> 
</header>